<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <properties>
        <property name="LOG_HOME">D:/logs</property>
        <property name="FILE_NAME">szybDianCan</property>
    </properties>
    <!-- 先定义所有的appender -->
    <appenders>
        <!-- 这个输出控制台的配置  -->
        <!-- 日志级别：分开关： 最高级别： fetal, error, warn,  info, debug 最低：最低的可以输出高级别的信息；
         级别越来越低，越低可以输出高级别的日志；-->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
            <ThresholdFilter level="debug" onMatch="ACCEPT"	onMismatch="DENY" />
            <!-- 这个都知道是输出日志的格式 -->
            <PatternLayout	pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
        </Console>

        <!-- 这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
        <RollingFile name="ERROR" fileName="${LOG_HOME}/error.log"	filePattern="logs/$${date:yyyy-MM}/web-%d{MM-dd-yyyy}-%i.log.gz">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout	pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
            <SizeBasedTriggeringPolicy size="2MB" />
        </RollingFile>

        <RollingFile name="INFO" fileName="${LOG_HOME}/info.log" filePattern="logs/$${date:yyyy-MM}/web-%d{MM-dd-yyyy}-%i.log.gz">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout
                    pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
            <SizeBasedTriggeringPolicy size="2MB" />
        </RollingFile>

        <RollingFile name="DEBUG" fileName="${LOG_HOME}/debug.log" filePattern="logs/$${date:yyyy-MM}/web-%d{MM-dd-yyyy}-%i.log.gz">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout
                    pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
            <SizeBasedTriggeringPolicy size="2MB" />
        </RollingFile>
    </appenders>

    <!-- 然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
    <loggers>
        <!-- 日志级别：总开关：  fetal, error, warn,  info, debug
          级别越来越低，越低可以输出高级别的日志；-->
        <root level="debug">
            <appender-ref ref="Console" />
            <appender-ref ref="ERROR" />
            <appender-ref ref="DEBUG" />
            <appender-ref ref="INFO" />
        </root>

    </loggers>
</Configuration>
